body{
	background: #efefef;
	font-family: arial;
}
h1{ color:red;
	font-size: 30px;
}
h3{ color:mediumseagreen;
	font-size: 20px;
}
a{
	color:#000000;
	text-decoration: under line;
}
a:hover{
	color: #000000
	text-decoration: none;
}
h2{
	font-size: 16px;
}
p{ color:pink;
	font-size: 16px;
}